<div id="trip-detail-page">

  <section class="passenger-trips">
    <h2>Trip #<%= @trip.id %></h2>

    <%= form_with model: @trip, class: 'trip-form' do |f| %>

    <%= f.label :date %>
    <%= f.text_field :date %>

    <%= f.label :driver %>
    <%= f.select :driver, @trip.get_drivers %>

    <%= f.label :passenger %>
    <%= f.select :passenger, @trip.get_passengers %>

    <%= f.label :rating %>
    <%= f.select :rating, ['1', '2', '3', '4', '5'], {}, { value: @trip.rating, class: 'form-control', onchange: 'this.form.submit();' }%>

    <%= f.label :cost %>
    <%= f.text_field :cost%>

    <%= f.submit "Update Trip", class: 'passenger-form-submit-button' %>

    <% end %>

  </section>


</div>
