<div id="trip-detail-page">

  <h2>Trip #<%= @trip.id %></h2>

  <section class="trip-summary">

    <ul>
      <li>ID</li>
      <li>Date</li>
      <li>Driver</li>
      <li>Passenger</li>
      <li>Price</li>
      <li>Rating</li>
      <li>Delete</li>
    </ul>

    <ul><% trip = @trip %>
      <li><%=@trip.id%></li>
      <li><%=@trip.date%></li>
      <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></li>
      <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></li>
      <li><%=@trip.cost_conversion%></li>
      <li><%=@trip.rating%></li>
      <li><%= button_to "Delete", trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to delete Trip #{trip.id}?"} %></li>
    </ul>

</div>
