<div id="trip-detail-page">

<section class="passenger-trips">
  <h2>Trip #<%= @trip.id %></h2>

  <section class="trip1-container">
    <ul class="trips-headers">
      <li class="tripsid">ID</li>
      <li class="tripsdate">Date</li>
      <li class="tripsdriver">Driver</li>
      <li class="tripspassenger">Passenger</li>
      <li class="tripsprice">Price</li>
      <li class="tripsrating">Rating</li>
      <li class="tripsdeleteedit">Delete Edit</li>
    </ul>

    <ul class="tripsentries"><% trip = @trip %>
      <li class="tripsid"><%=@trip.id%></li>
      <li class="tripsdate"><%=@trip.date%></li>
      <li class="tripsdriver"><%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></li>
      <li class="tripspassenger"><%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></li>
      <li class="tripsprice"><%=@trip.cost_conversion%></li>
      <li class="tripsrating"><%=@trip.rating%></li>
      <li class="tripsdelete"><%= button_to "Delete", trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to delete Trip #{trip.id}?"} %> <%= button_to "Edit", edit_trip_path(trip), method: :get%></li>
    </ul>
  </section>
</section>

</div>
