<div id="passenger-detail-page">

  <section class="passenger-summary">
    <ul>
      <li>
        <%= image_tag "http://placekitten.com/50/50", alt: "profile pic" %>
      </li>
      <li>
        <%= @passenger.name %>
      </li>
      <li>
        <%= @passenger.phone_num %>
      </li>
      <li>
        PLACEHOLDER FOR TOTAL SPENT
      </li>
    </ul>
  </section>

  <section class="passenger-trips">

    <h2>Passenger Trips</h2>

    <ul>
      <li>ID</li>
      <li>Date</li>
      <li>Driver</li>
      <li>Passenger</li>
      <li>Price</li>
      <li>Rating</li>
      <li>Delete</li>
    </ul>

    <% @passenger.trips.each do |trip| %>
    <ul>
      <li><%=trip.id%></li>
      <li><%=trip.date%></li>
      <li>Driver: <%=trip.driver.name%></li>
      <li>Passenger: <%=@passenger.name%></li>
      <li><%=trip.cost%></li>
      <li><%=trip.rating%></li>
      <li><%= button_to "Delete", trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to delete Trip #{trip.id}?"} %></li>
    </ul>
    <% end %>


  </section>

</div>
