<div id="passenger-detail-page">

  <section class="passenger-summary">
    <ul>
      <li>
        <%= image_tag "http://placekitten.com/50/50", alt: "profile pic" %>
      </li>
      <li>
        <%= @passenger.name %>
      </li>
      <li>
        <%= @passenger.phone_num %>
      </li>
      <li>
        Total Spent: $<%= @passenger.amt_charged %>
      </li>
      <li>
        <%= link_to "Edit", edit_passenger_path(@passenger) %>
      </li>
      <li>
        <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete the passenger #{@passenger.name}?"} %>
      </li>
      <li>
        <%= link_to "Request Ride", create_passenger_trip_path(@passenger), method: :post %>
      </li>
    </ul>
  </section>

  <section class="passenger-trips">

    <h2>Passenger Trips</h2>

    <ul>
      <li>ID</li>
      <li>Date</li>
      <li>Driver</li>
      <li>Passenger</li>
      <li>Price</li>
      <li>Rating</li>
      <li>Delete</li>
    </ul>

    <% @passenger.trips.each do |trip| %>
    <ul>
      <li><%= link_to trip.id, trip_path(trip.id) %></li>
      <li><%=trip.date%></li>
      <li>Driver: <%= link_to trip.driver.name, driver_path(trip.driver.id) %></li>
      <li>Passenger: <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></li>
      <li>$<%=trip.cost%></li>
      <li><%=trip.rating%></li>
      <li><%= button_to "Delete", trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to delete Trip #{trip.id}?"} %></li>
    </ul>
    <% end %>


  </section>

</div>
