<div id="drivers-index">

  <h2>Drivers</h2>

  <%= form_tag(drivers_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Drivers" %>
      <%= submit_tag "Search", :name => nil, class: "search" %>
  <% end %>

  <%= will_paginate @drivers %>

    <% @drivers.each do |driver| %>
    <ul class="driverentry">
      <li class="driverpic">
        <%= link_to image_tag("http://placekitten.com/50/50", alt: "profile pic"), driver_path(driver.id) %>
      </li>
      <li class="drivername">
        <%= link_to driver.name, driver_path(driver.id) %>
      </li>
      <li class="driverrating">
        Avg Rating: <%= driver.average_rating %>
      </li>
      <li class="drivermods">
        <span class="modify"><%= link_to "Edit", edit_driver_path(driver.id) %></span>

        <span class="modify"><%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm: "Are you sure you want to delete the driver #{driver.name}?"} %></span>
      </li>
    </ul>
    <% end %>

  <%= will_paginate @drivers %>
</div>
