<div id="driver-detail-page">

  <section class="driver-summary">
    <ul>
      <li>
        <%= image_tag "http://placekitten.com/50/50", alt: "profile pic" %>
      </li>
      <li>
        <%= @driver.name %>
      </li>
      <li>
        <%= @driver.vin %>
      </li>
      <li>
        Total Earnings: $<%= @driver.total_earnings%>
      </li>
      <li>
        Average Rating: <%= @driver.average_rating%>
      </li>
      <li>
        <%= link_to "Edit", edit_driver_path(@driver) %>
      </li>
      <li>
        <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure you want to delete the driver #{@driver.name}?"} %>
      </li>
    </ul>
  </section>

  <section class="driver-trips">

    <h2>Driver Trips</h2>

    <ul>
      <li>ID</li>
      <li>Date</li>
      <li>Driver</li>
      <li>Passenger</li>
      <li>Price</li>
      <li>Rating</li>
      <li>Delete</li>
    </ul>

    <% @driver.trips.each do |trip| %>
    <ul>
      <li><%= link_to trip.id, trip_path(trip.id) %></li>
      <li><%=trip.date%></li>
      <li>Driver: <%= link_to trip.driver.name, driver_path(trip.driver.id) %></li>
      <li>Passenger: <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></li>
      <li><%=trip.cost%></li>
      <li><%=trip.rating%></li>
      <li><%= button_to "Delete", trip_path(trip), method: :delete, data: {confirm: "Are you sure you want to delete Trip #{trip.id}?"} %></li>
    </ul>
    <% end %>

  </section>

</div>
